<md-toolbar color="primary">
    <button md-button class="btn-nav" (click)="sidenav.toggle()">
        <i class="fa fa-bars font-awsome-nav" aria-hidden="true"></i>
    </button>
    <!--<button md-button routerLink="/">Home</button>
    <button md-button *ngIf="auth.isAuthenticated" routerLink="demo1">Demo1</button>
    <button md-button *ngIf="!auth.isAuthenticated" routerLink="login">Login</button>-->
    <span style="flex: 1 auto"></span>
    <button md-button class="btn-nav" *ngIf="auth.isAuthenticated" (click)="sidenav.close();auth.logout()">
        <i class="fa fa-sign-out font-awsome-nav" aria-hidden="true"></i>    
    </button>
</md-toolbar>

<md-sidenav-container class="nav-container">
    <md-sidenav #sidenav class="nav-sidenav">
        <ul class="nav-ul">
            <li >
                <button md-button routerLink="/TicketsUpdate" (click)="sidenav.close()">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                    Tickets
                </button>
            </li>
             <li >
                <button md-button routerLink="/reservaciones" (click)="sidenav.close()">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                    reservaciones
                </button>
            </li>
        </ul>
    </md-sidenav>
    <div layout="row">
    <router-outlet></router-outlet>
</div>
</md-sidenav-container>
